[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TrackReconstruction"]
	path = TrackReconstruction
	url = https://github.com/cran/TrackReconstruction
